/* https://alligator.io/css/centering-using-flexbox/ */

body {

  font-family: Arial;
  background: rgb(222, 240, 103);

}

h1 {
  text-align: left;
}
.box.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

  }
  
  .box {
    text-align: left;
    max-height: 300px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.03); */
    /* border-radius: 4px; */
  
    color: rgb(60, 60, 60);
    background: rgb(222, 240, 103);

    /* border-bottom: 1px solid #F9F2D6;
    border-right: 1px solid #F9F2D6; */
  }
  
  .box p {
    max-width: 350px;
    margin: .25rem;
    padding: .25rem;
    font-size: 10px;

  }