/* https://alligator.io/css/centering-using-flexbox/ */

body {
  font-family: 'Chakra Petch', sans-serif;
  background: rgb(222, 240, 103);
}

h1 {
  text-align: left;
  font-family: 'Chakra Petch', sans-serif;
}

.box.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  .box {
    text-align: left;
    max-height: 300px;
    color: rgb(0, 0, 0);
    background: rgb(222, 240, 103);
  }
  
  .box p {
    max-width: 350px;
    margin: .25rem;
    padding: .25rem;
    font-size: 12px;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }